[submodule "research/ollama"]
	path = research/ollama
	url = git@github.com:jmorganca/ollama.git
[submodule "research/llama-index-ts"]
	path = research/llama-index-ts
	url = git@github.com:run-llama/LlamaIndexTS.git
[submodule "research/sec-insights"]
	path = research/sec-insights
	url = git@github.com:run-llama/sec-insights.git
[submodule "research/llama-index"]
	path = research/llama-index
	url = git@github.com:run-llama/llama_index.git
[submodule "research/privategpt"]
	path = research/privategpt
	url = git@github.com:imartinez/privateGPT.git
[submodule "research/superagent"]
	path = research/superagent
	url = git@github.com:homanp/superagent.git
[submodule "research/llama-gpt"]
	path = research/llama-gpt
	url = git@github.com:getumbrel/llama-gpt.git
[submodule "research/langchain"]
	path = research/langchain
	url = git@github.com:langchain-ai/langchain.git
[submodule "research/lobe-chat"]
	path = research/lobe-chat
	url = git@github.com:lobehub/lobe-chat.git
